---
layout: default
title: Glance at my Projects
description: Diving into a Spectrum of Projects, Ideas, and Progress.
featured_image: /images/projects/banner_image.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.description }}</p>

		{% include socials.html %}

	</div>

</section>

<section class="listing">

	<div class="wrap">
		{% assign now_date = 'now' | date: '%Y-%m-%d' %}
		{% assign projects_with_empty_dates = site.projects | where_exp: 'item', "item.end_date == ''" %}
		
		{% assign projects_with_non_empty_dates = site.projects | where_exp: 'item', "item.end_date != ''" %}
		{% assign sorted_projects = projects_with_non_empty_dates | sort: 'end_date' | reverse %}
		
		{% assign final_sorted_projects = projects_with_empty_dates | concat: sorted_projects %}
		
		{% for project in final_sorted_projects %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.start_date }} ~ {{ project.end_date | default: 'now' }}</p>
					<p class="post__description">{{ project.content | markdownify | strip_html | truncatewords: 50, '...' }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section>